<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 540px !important;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Services
      <small>Update Service</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
      <section class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              Name is not editable
            </h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" disabled 
                      ng-model="vm.svc.name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-10">
                  <div class="input-group">
                    <textarea type="text" class="form-control"
                      ng-model="vm.svc.description"></textarea>
                    <span class="input-group-addon">
                      <i class="fa fa-asterisk text-danger text-sm"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
              <button class="btn btn-primary pull-right" ng-click="vm.save()">Update</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
      </section>
    </div>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->